header
{
  margin-bottom:30px;
}


/*
p0 - MUST do. cannot ship product without this feature.
p1 - SHOULD do. 
p2 - COULD do.
p3 - LULZ. why dont we update the internal documentation while we're at it? ;)
*/

.week-heading {}
.feature {}         /* li  */
.p1 {}              /* li */
.p2 {}              /* li */
#functional-features {} /* ul */
#sort-features {}   /* li */
#filter-features {} /* li */
#prototype-only-features {}

