/* app css stylesheet */

/*
h1 class="thanks"
<h1 class="surveyTitle">
<h3 class="surveyHeading">


*/

body {
  font:15px/1.3 'Open Sans', sans-serif;
  padding-top: 20px;
  body { padding-top: 70px; } /* for fixed header */
}

.listing-star {
float: left;
color: #6633cc;
padding: 4px;
padding-top: 0px;
}
.details-directions, .details-star{
  float: right;
  font-size: 28px;
  color: #6633cc; /*#330099 ffff00 */
}

.details-directions {margin-left: 10px;}

.detailsPositions
{
  font-size: 15px;
  padding-right:2px;
}
      body { padding-top: 70px; } /* for fixed header */
      ul, menu, dir {
        display: block;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px; /* changed */
        }
      /*
      *, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
display: block;
margin: 8px;
}
*/
.companyBoothLocation
{
  float: right;
  font-size: 10pt;
  line-height: 110%;
  width: 80px;
}

/*.controls { float: left; display: inline;}*/

/* used to apply to selection dropdown *
.sorter{ width: 120px; }*/

.thumbnail {margin-bottom: 0px;}

.thumb {
  float: left;
  /*margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;*/
  /*height: 100px; width: 100px; 200*/
  height: 80px; width: 80px;
  height: 70px; width: 70px;
  vertical-align: center; /* is this valid?? */
}
.thumbnail, .ul {padding: 0px; margin:0px;}

/*a, a:visited {
  outline:none;
  color:#389dc1;
}*/

a, a:hover{
  text-decoration:none;
}

/* companies is a ul */
ul.companies {
  /*margin-top: 100px;*/
  list-style: none;
  padding-top: 10px;
  /*margin: 0 auto;*/
}

ul.companies li {
  clear: both; /* WHAT DOES CLEAR DO?? */
  height: 80px;
  font-family:'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  color: #444444;
  padding-top:10px; /*padding-top: 15px;*/

  vertical-align: top;  /* IS VERTICAL AND TEXT ALIGN VALID? */
  text-align: center;

   /*
   border-bottom: 1px solid #ddd;
   padding: 10px;
   overflow: hidden;
   */

  /*display: inline-block; block;*/
  /*background: #ccc;
  color: #fff;*/
  /*
  reference ---> .item by ionic!!!!
  font-size: 16px;
  margin: -1px;
  border: 1px solid #dddddd; 
  background-color: white;
  padding: 15px;
  */
}

/* when a square logo is displayed next to company name on company grid list */
.companies-list-square
{
  padding: 0px;
  margin: 0px;
  vertical-align: center;
  max-width: 80px;
  /*height: 80px;*/
  /*max-height: 80px;
  max-width: 80px;*/ /* care about width in the listing not height, for cheaty non square items */
  float:left;
  border:none;
}

.companies-list-info
{
  padding-top: 15px;
}

ul.companies li img{
  /*width:60px;
  height:60px;*/
  padding-top: none;
  height: 60px;     /* this is smaller than i want, want it to fill full, but will fiddle with CSS... not now */
  float:left;
  border:none;
}
.left {float: left; display: inline-block;}
.right {float: right; display: inline-block;}
.companies-list-square {}
.logo-square {
    width: 100px;
}
.logo-wide {
  width: 270px;
  max-width: 270px;
}

ul.companies li p{
  margin-left: 75px;
  font-weight: bold;
  padding-top: 12px;
  color:#6e7a7f;
}

.companyProfileHeading {
  color: #ccc;
  font-size: 14px;
  /*font-variant: small-caps;*/

}

.companyNameHeading {
  color: #999;
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}
.description { color: #666;}

.detailsHeading, .positionsHeading, .majorsHeading {
  color: indigo;
  font-size: 15px;
  font-weight: bold;

}
/*
 {
  color: #333;
  font-size: 15px;
  font-weight: bold;
}*/

/** Detail View **/
/*img.company {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
}*/






/*
ul.company-thumbs {
  margin: 0;
  list-style: none;
}

ul.company-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.company-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}*/

/*
ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}
*/

