/* app css stylesheet */

body {
  padding-top: 20px;
}

/*.controls { float: left; display: inline;}*/

.companies {
  margin-top: 100px;
  list-style: none;
}
.sorter{
  width: 120px;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
/*
  height: 70px;
  width: 70px;*/
}

.companies li {
  clear: both;
  height: 80px; 

  /*100px;*/
  /*padding-top: 15px;*/

  /*display: inline-block;*/
/*width: 200px;
height: 200px;*/
vertical-align: top;
margin-bottom: 20px;
/*background: #ccc;*/
/*color: #fff;*/
/*font-size: 30px;*/
text-align: center;
/*line-height: 200px;*/
/*}

.item {*/
  
  background-color: white;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 15px;
  border: 1px solid #dddddd; 
  font-size: 16px;
  font-family:'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  color: #444444;
}
 /*}
 .item:after {*/
  .companies li:after {
  display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -moz-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
-moz-align-items: center;
align-items: center;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
position: absolute;
top: 0;
right: 11px;
height: 100%;
color: #ccc;
content: "\f125";
text-transform: none;
font-weight: normal;
font-style: normal;
font-variant: normal;
font-size: 16px;
font-family: 'Ionicons';
line-height: 1;
speak: none;
}

/** Detail View **/
img.company {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
}

ul.company-thumbs {
  margin: 0;
  list-style: none;
}

ul.company-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.company-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}


