.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}
.list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
}
.avatar {
  max-width: 150px;
}
img {
  max-width: 100%;
}
h3 {
  font-size: 16px;
  margin:0 0 0.3rem;
  font-weight: normal;
  font-weight:bold;
}
p {
  margin:0;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}


.filter, .sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.filter:hover, .sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.filter:focus, .sort:focus {
  outline:none;
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
   /*top:-10px;
  right:-5px;*/

  left: -50px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  /*top:13px;
  right:-5px;*/

  left: -50px;

}

.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  /*top:-10px;
  right:-5px;*/

/* oh boy this be hacky because i havent read the js oops */
  left: -50px;
  top: -20px;
}
/*
span.sort {
    height: 20px;
    font-size: 11px;
    border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}*/

.booth {float: right;}
.major {
  padding:7px;
  margin-bottom:10px;
}


/*#floorplans*/

.floorplan{
  width: 320px;
  /*width: 80%;
  width: 200px;
  height: 200px;
  */
}

/*http://stackoverflow.com/questions/492809/when-to-use-img-vs-css-background-image*/
/*
#norrisFloor1{
   background: url('../images/norris_floorplan/floorplan_web__first_2013.jpg') no-repeat transparent;
   /*background-size: 200px*
}

#norrisFloor2{
     background: url('../images/norris_floorplan/floorplan_web_second.png') no-repeat transparent;
     background-width: 200px;
}*/

