<!doctype html>

  <!-- http://scotch.io/quick-tips/js/angular/pretty-urls-in-angularjs-removing-the-hashtag-->

<!-- http://jsbin.com/zoxezeyu/4/edit -->

  <!-- http://andru.co/building-a-simple-single-page-application-using-angularjs#json -->


<!-- http://stackoverflow.com/questions/16829565/using-a-group-of-checkboxes-in-angularjs-->

                  <!--li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
    <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
    <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
    <li class="divider"></li>
  <li class="dropdown-header">Nav header</li>
    <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li-->

<!--
ng-app attribute: an Angular directive used to flag the html element that Angular should consider to be the root element of the application.
-->

<html lang="en" ng-app="iday399App">

<head>
  <meta charset="utf-8">

  <!-- important for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  
  
  <meta name="description" content="">
  <meta name="author" content="">

  <base href="/399/app/">

  <title>399 Industry Day with AngularJS</title>

  <link rel="stylesheet" href="./css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link href="css/font-awesome.css" rel="stylesheet">
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>

  <script>
// have added this in the floorplan html as well but its not loadingg
function initialize()
{
    var labelshtml = "";
    for(var i = 1; i <= 84; i++ )
    {
        var tableID = "'table_" + i + "'";
        var floorID = "'floor1'";
        if (i >= 72) floorID = "'floor2'";

        var params = floorID + ', ' + tableID;

        var tablehtml = '<label> <input type="checkbox" ';
        tablehtml += 'onclick="toggleActive(' + params + ')" ';
        //tablehtml += ')" ';
        //tablehtml += 'table_' + i;
        //tablehtml+= '/')" />' + i + 
        tablehtml += ' /> ' + i + ' </label>';
        labelshtml += tablehtml;
    }
    document.getElementById('tablecheckboxes').innerHTML = labelshtml;
}

function toggleActive(svgID, tableID) {

    console.log('got into toggle active fx');
    // Select the SVG element by its ID:
    var svg = document.getElementById(svgID);
    if(svg != null) // undefined? 
    {
        console.log('svg was not null');
        // Select the SVG document:
        var svgDoc = svg.getSVGDocument(); //  svg.contentDocument;
        if(svgDoc != null)
        {
            console.log('svgdoc was not undefined');
            // Select elements within the SVG document:
            var svgElem = svgDoc.getElementById(tableID);
            if(svgElem != null) //undefined?
            {
                console.log('svgElem was not null');
                var boothclass = svgElem.getAttribute("class");
                if (boothclass != "selectedBooth")
                    svgElem.setAttribute("class", "selectedBooth");
                else
                    svgElem.setAttribute("class", "");

            }
        }
    }
}


</script>

</head>

<body ng-controller="AppController">


  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- 
        Icons to stay uncollapsed for easy/fast access:
        Companies/Company List
        Map
        Settings? Favorites? Not sure
        -->

        <a class="navbar-brand" href="#">Industry Day</a>

        <!-- ~~~~~ QUICK LINK ICONS ~~~~~  role="button" -->

        <!-- Quick Access Nav Icon - Map/Floorplan -->
        <a href="#/map/companies" class="navbar-brand right btn btn-default" >
          <button type="button" class="btn btn-default"><i class="fa fa-compass fa-lg"></i></button>
          <button type="button" class="navbar-toggle">hey </button>
        </a>

        <!-- Quick Access Nav Icon - Companies/Company List -->
        <a href="#/companies" class="navbar-text right">
          <i class="fa fa-list"></i>
        </a>
        
        <!-- Settings (filter controls) dropdown -->

        <a class="navbar-brand cursor settings-dropdown right " data-toggle="dropdown" data-target=".settings-collapse">
          <i class="fa fa-cog"></i>
          <b class="caret"></b>
          <!-- shouldnt arrow automatically flip? TODO -->
        </a>

        <!-- Quick Access Nav Icon - Filter settings -->
        <!--
        easy to adjust settings, and
        maintains values across page navigation
        -->
        <!--
        THIS ONE ACTS DIFFERENTLY
        navigate to settings SEPARATE page
        (filter controls/checkboxes)
        need to fix double binding data
        ie show already active filter checkboxes checked
         
        <a href="#/settings" class="navbar-text right">
          <i class="fa fa-cogs"></i>    
        </a>
        -->

        <!-- ~~~~~ END QUICK LINK ICONS ~~~~~ -->

        <!-- bootstrap 3 dropdown attempts... -->

      </div>




      <!--
      i want this to automatically close once a selection has been!!!
      pull-right deprecated but using it anywayyy
      no just kidding i'm not
      cuz i cant get the dropdown to be small
      dropdown-menu-left right
      -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse ">
        <ul class="nav navbar-nav">
          <!--
          <li>
            <a href="#">
            this would also make sense as a square-ish icon reflecting tile layout on landing page
            <i class="fa fa-home"></i> Menu/Home
            </a>
          </li>
          -->

          
          <!-- Layout/Map -->
          <!--
          COULD redundantly list in drop down as well,
          but on expanded displays will show same icon twice...
          -->
          <!--
          <li><a href="#/companies">
            <i class="fa fa-list"></i> Company List
          </a></li>

          <li><a href="#/map/companies">
            <i class="fa fa-location-arrow"></i> Layout/Map
          </a></li>
          
          <li>
            <a href="#/settings">
              <i class="fa fa-cog"></i> Settings
            </a>
          </li>
          -->

          <!-- Favorites/Starred/Bookmarked Companies -->
          <li>
            <a href="#favorites">
              <i class="fa fa-star"></i> Favorites
            </a>
          </li>
          
          <!-- Recruiters - pictures and contact info -->
          <!--
          <li>
          <a href="#recruiters">
            <i class="fa fa-users"></i> Recruiters
          </a>
          </li>
          -->

          <!-- About/Thanks -->
          <li>
            <a href="#/credits">
              <i class="fa fa-info"></i> About 
            </a>
          </li>

          <!-- Feedback Survey -->
          <li>
            <a href="#/feedback">
              <i class="fa fa-comments-o"></i> Feedback
            </a>
          </li>

        </ul> <!-- /nav navbar-nav -->
      </div>
      <!--/.nav-collapse -->


<!--
TODO: nice slidey animation for choosing filters dropdown

also
close navigation dropdown automatically on selection,
but NOT filter dropdown
-->

<!--
STILL MESSED UP
TOGGLING A SETTING ON A PAGE OTHER THAN COMPANY LIST
SEEMS TO MESS UP FILTERS??

TODO:
figure out how to share the filtered list value across scopes,
        or do the filtering globally?
-->

        <!--TODO: 
        Add buttons like
        Check All, 
        Check None, 
        Reset (?)... all + favorites clear?,
        show badges with # of results like shopping websites
        filter by favorites
        ability to mark a company as a favorite even if it doesnt match the other filter reqs...?
        SEARCH by string on description
        
        filter by...
        industry
        company size
        locations?

        use checkboxes styled as buttons - pressed/selected or not
        -->

  <ul class="nav navbar-nav navbar-user navbar-right">
    <li class="dropdown settings-collapse">
      <ul class="dropdown-menu">

        <!--Showing {{filteredList.length}} of {{all_companies.length}} total. <br>
        {{filteredList.length}} of {{all_companies.length}} total companies. <br-->

        <i class="fa fa-filter fa-lg"></i> Filter by:       

        <!-- class="checkbox-inline" and label instead of li-->
        <!-- need to check on this syntax, looks okay but dont think it is right, can't remember where i got checkbox-inline from -->


        <li class="divider"></li>
        <li class="dropdown-header">Positions</li>

        <div class="form-group">
          <checkbox-inline ng-repeat="p in positions">
          <label>
            <input type="checkbox" ng-click="includePosition(p.name)">
            &nbsp;{{p.friendlyName}}
            </label>
        </div> <!--/form-group-->



        <li class="divider"></li>
        <li class="dropdown-header">Majors</li>
        
         <div class="form-group"> <!-- data-toggle="buttons"-->
          <checkbox-inline ng-repeat="m in majors">
          <label>
            <input type="checkbox" ng-click="includeMajor(m.name)">
            &nbsp;{{m.friendlyName}}
            </label>
        </div> <!--/form-group-->


      </ul>
      <!--</li> /li dropdown settings-collapse-->
    </div>
  </div>






  <div class="container">
    
    <!-- ............... -->
    <!-- Dynamic content -->
    <!-- ............... -->

    <div ng-view></div>





  </div>
  <!-- /.container -->




  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="lib/jquery/jquery-1.10.2.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>
 

</body>

</html>
