<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter" animation="slide-left-right-ios7">
    <!-- 
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon ion-chevron-left">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>
    <!-- 
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
  </body>
</html>


<!-- because i'm still learning ionic, 
putting all templates within this index.html file 
to avoid having a bajillion files open --


<script id="tabs.html" type="text/ng-template">
<ion-tabs class="tabs-icon-top">

  <ion-tab title="Floorplan" icon="icon ion-map" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Companies" icon="icon ion-clipboard" href="#/tab/companies">
    <ion-nav-view name="tab-companies"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon="icon ion-levels" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
</script>


<script id="tab-dash.html" type="text/ng-template">
<ion-view title="Dashboard / Career Fair Floorplan">
  <ion-content class="has-header padding">
    <h1>Dashboard [maybe floorplan later]</h1>
  </ion-content>
</ion-view>
</script>


<script id="tab-account.html" type="text/ng-template">
<ion-view title="Filter Settings">
  <ion-content class="has-header padding">
    <h1>Filter and Search Settings</h1>
  </ion-content>
</ion-view>
</script>

<script id="tab-companies.html" type="text/ng-template">
<ion-view title="Company List">
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="comp in companies" type="item-text-wrap" href="#/tab/company/{{comp.id}}">
          <img class="companies-list-square" src="http://placehold.it/100x100">
        {{comp.name}}
        <span class="room-floor-label"> 
               {{comp.room}} [{{comp.floor}}]<br>
               </span>
      

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
</script>-->


<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
  --
<script id="company-detail.html" type="text/ng-template"> 
<ion-view title="{{comp.name}}">
  <ion-content has-header="true" padding="true">
  </ion-content>
</ion-view>
</script>

-->






<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ tabs.html ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<!--
<ion-tabs class="tabs-icon-top">


  <!-- Pets Tab --
  <ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Adopt Tab --
  <ion-tab title="Friends" icon="icon ion-heart" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- About Tab --
  <ion-tab title="Account" icon="icon ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
-->


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ friend-detail.html ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<!--
<ion-view title="{{friend.name}}">
  <ion-content has-header="true" padding="true">
  </ion-content>
</ion-view>
-->



<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ tab-friends.html ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--
<ion-view title="Friends">
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
        {{friend.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
-->


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ tab-dash.html ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--
<ion-view title="Dashboard">
  <ion-content class="has-header padding">
    <h1>Dash</h1>
  </ion-content>
</ion-view>
-->


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ tab-account.html ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--
<ion-view title="Account">
  <ion-content class="has-header padding">
    <h1>Account</h1>
  </ion-content>
</ion-view>
-->



