<div class="row">


  <!-- ---------- Sort/filter controls ---------- -->

  Showing {{filteredList.length}} of {{companies.length}} total. <br>

  Search: <input ng-model="query"> <i class="fa fa-search"> </i> <br>
  Filter by: <i class="fa fa-filter"> </i>


<! -- 
replaced
name="selectedMajors[]" value="{{m.name}}" ng-model="m.selectedMajor"
with
ng-click="includeMajor(m.name)

input type="checkbox" name="selectedMajors[]" value="{{m.name}}" ng-model="m.selectedMajor" ng-click="includeMajor(m.name)"
{{m.friendlyName}}
input type="checkbox" name="selectedPositions[]" value="{{p.name}}" ng-model="p.selectedPosition" ng-click="includePosition(p.name)
{{p.friendlyName}}
pretty sure its not the best form/practice but i dont caaaaareee right now
-->

<div class="form-group">
      <label ng-repeat="m in majors" class="checkbox-inline">
        <input type="checkbox" ng-click="includeMajor(m.name)"> 
        {{m.friendlyName}}
      </label>
    </div> <!--/form-group-->

    <div class="form-group">
      <label ng-repeat="p in positions" class="checkbox-inline">
        <input type="checkbox" ng-click="includePosition(p.name)""> 
        {{p.friendlyName}}
      </label>
    </div> <!--/form-group-->




      <!--h4> majors </h4--

           <h4> Majors </h4>
    
<div ng-repeat="m in majors">
<label class="checkboxFilters">
    <input type="checkbox" ng-click="includeMajor(m.name)" />{{m.friendlyName}} &nbsp; &nbsp;</label>
</div>
<br><br>
    <hr>    
<h4> Positions </h4>
<div ng-repeat="p in positions">
<label class="checkboxFilters">
    <input type="checkbox" ng-click="includePosition(p.name)" />{{p.friendlyName}} &nbsp; &nbsp;</label>
</div>-->

    
    <!--div class="form-group">
      <label ng-repeat="m in majors" class="checkbox-inline">
        <input type="checkbox" name="selectedMajors[]" value="{{m.name}}" ng-model="m.selectedMajor"> {{m.friendlyName}}
      </label>
    </div> <!--/form-group--

    <div class="form-group">
      <label ng-repeat="p in positions" class="checkbox-inline">
        <input type="checkbox" name="selectedPositions[]" value="{{p.name}}" ng-model="p.selectedPosition"> 
        {{p.friendlyName}}
      </label>
    </div> <!--/form-group-->

<!--div class="form-group">
      <label ng-repeat="m in majors" class="checkbox-inline">
        <input type="checkbox" data-ng-model="selected-majors.{{m.name}}">
        {{m.friendlyName}}
      </label> 
    </div> <!--/form-group model vs data ng model?-->



  <!--div id="status">Current filter: {{query}}</div-->

  <!-- glyphicons AND font awesome work -->
  Sort by:<i class="glyphicon glyphicon-sort"></i> <br>


      <!--       
      trying to have just one button for sorting name 
      with a switching icon but not yet working 
    -->
    <div class="left">
      <a href="" class="btn btn-default" ng-click="sortType='name'; asc=!asc">
        Name
        <i class="fa fa-sort-alpha-asc"></i> <!--"sortType='name';">-->
        <i class="fa fa-sort-alpha-desc"></i> <!--"sortType='-name';">-->
      </a>
    </div>

    <div class="right">
      <a href="" class="btn btn-default" ng-click="sortType='booth'; asc=!asc">
        Booth
        <!--i class="fa" ng-class="orderBy == '-booth' ? 'fa-sort-numeric-asc' : 'fa-sort-numeric-desc'"></i-->
        <i class="fa fa-sort-numeric-asc"></i>
        <i class="fa fa-sort-numeric-desc"></i>
      </a>
    </div>


  </div><!-- end row sorting filtering controls -->


  <!-- ---------- Body content ---------- -->
  <div class="row">

    <ul class="companies">

      <!--li ng-repeat="company in filteredList = (companies | filter:query | orderBy:sortType:asc)" class="thumbnail"

[filteredList = (companies | companyFilter(companies, selectedMajors, selectedPostitions) | orderBy:sortType:asc)] starting at [(companies, selectedMajors, selectedPostitions) | orderBy:sortType:asc)].

filter:companyFilter

      company in filteredList(selectedMajors(), selectedPostitions()) 
      companyFilter(companies, selectedMajors, selectedPostitions)
      -->

      <li ng-repeat="company in filteredList = (companies | filter:userFilter | orderBy:sortType:asc)" class="thumbnail">

        <a href="#/companies/{{company.id}}">
          <img class="companies-list-square" ng-src="../app/img/logos/{{company.id}}-square.png">
        </a>

        <a href="#/map/{{company.id}}">
              <span class="companyBoothLocation"> 
                Booth: {{company.booth}} <Br>
                Room: {{company.room}}
                <i class="fa fa-compass fa-2x"></i>
              </span>
            </a>

          <div class="companies-list-info">
            <a href="#/companies/{{company.id}}">
              {{company.name}}
            </a>
          </div>
          
        </li>


        
      </ul>

    </div> <!-- /row -->

