<!--
{{company.name}}
{{company.logoFull}}
{{company.logoSquare}}
{{company.description}}
{{company.booth}}
{{company.major}} 
{{company.position}} 

<!--"[ 'fte','int' ]"
"['che','ce','ee','ie','mde','mse','me',],",
<!--img ng-src="{{mainImageUrl}}" class="company"-->

<h1>{{company.name}}</h1>

<!--p>{{company.description}}</p-->
<ul class="specs">
<li>
  <span> Positions </span>
  <dl>
  <dt>Looking for the following:</dt>
      <!--dd>{{company.position.join(', ')}}</dd-->
      <dd ng-repeat="job in company.position track by $index">
      {{job}}
      <!-- {{job | checkmark}} marks either check or X -->
      </dd>
      </dd>
  <!--dt>Dimensions</dt>
      <dd ng-repeat="job in company.position">{{job}}</dd-->
  </dl>
  </li>
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd>{{company.major.join(', ')}}</dd>
      <!--dd ng-repeat="major in company.major">{{major}}</dd-->
    </dl>
  </li> 
  <li>
    <span>Additional Features</span>
    <dd>{{company.description}}</dd>
  </li> 

</ul>


</div>