<!--{{company.name}}
{{company.logoFull}}
{{company.logoSquare}}
{{company.description}}
{{company.booth}}
{{company.major}} 
{{company.position}} 

<!--"[ 'fte','int' ]"
"['che','ce','ee','ie','mde','mse','me',],",
<!--img ng-src="{{mainImageUrl}}" class="company"-->

<h1>{{company.name}}</h1>

<!--p>{{company.description}}</p-->
<!--
<ul class="company-thumbs">
  <li ng-repeat="img in company.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>
-->
<ul class="specs">
<li>
  <span> Positions </span>
  <dl>
  <dt>Positions</dt>
      <dd>{{company.position.join(', ')}}</dd>
      <dd ng-repeat="job in company.position track by $index">{{job}}</dd>
  <!--dt>Dimensions</dt>
      <dd ng-repeat="job in company.position">{{job}}</dd-->
  </dl>
  </li>
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd>{{company.major.join(', ')}}</dd>
      <!--dd ng-repeat="major in company.major">{{major}}</dd-->
    </dl>
  </li> 
  <li>
    <span>Additional Features</span>
    <dd>{{company.description}}</dd>
  </li> 

  <!--
 <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{company.battery.type}}</dd>
      <dt>Talk Time</dt>
      <dd>{{company.battery.talkTime}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{company.battery.standbyTime}}</dd>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{company.storage.ram}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{company.storage.flash}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{company.connectivity.cell}}</dd>
      <dt>WiFi</dt>
      <dd>{{company.connectivity.wifi}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{company.connectivity.bluetooth}}</dd>
      <!--<dt>Infrared</dt>
      <dd>{{company.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{company.connectivity.gps | checkmark}}</dd>--
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{company.android.os}}</dd>
      <dt>UI</dt>
      <dd>{{company.android.ui}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="job in company.position">{{job}}</dd>
      <dt>Weight</dt>
      <dd>{{company.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{company.display.screenSize}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{company.display.screenResolution}}</dd>
      <dt>Touch screen</dt>
     <!-- <dd>{{company.display.touchScreen | checkmark}}</dd> --
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{company.hardware.cpu}}</dd>
      <dt>USB</dt>
      <dd>{{company.hardware.usb}}</dd>
      <dt>Audio / headphone jack</dt>
      <dd>{{company.hardware.audioJack}}</dd>
      <!--<dt>FM Radio</dt>
      <dd>{{company.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{company.hardware.accelerometer | checkmark}}</dd>--
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{company.camera.primary}}</dd>
      <dt>Features</dt>
      <dd>{{company.camera.features.join(', ')}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{company.description}}</dd>
  </li> -->
</ul>


</div>