<div class="row">

	<h1 class="surveyTitle"> Industry Day 2013 Student Survey </h1>

	<hr>

	<h3 class="surveyHeading"> Major: </h3>

	<hr>

	<h3 class="surveyHeading"> Class: </h3>

	<hr>

	<h3 class="surveyHeading"> Position you are interested in: </h3>
	Permanent Internship Co-op

	<hr>
	
	<h3 class="surveyHeading"> How did you find out about Industry Day? (check all that apply) </h3>

	SWE Member
	SWE Website
	Advertisement around campus
	Facebook
	Word of mouth
	Other:

	<h3 class="surveyHeading"> How did you prepare for Industry Day? (check all that apply) </h3>

	Brought Resume
	Researched Companies
	Used SWE Website
	Other: 

	<h3 class="surveyHeading"> Was the date convenient for you? </h3>	Yes No
	<h3 class="surveyHeading"> Was the time convenient for you? </h3>	Yes No
	<h3 class="surveyHeading"> Was the location convenient for you? </h3>	Yes No
	<h3 class="surveyHeading"> Number of companies with whom you spoke: </h3> 1-5 6-10 11-20 21+

	Please comment on your overall opinion of Industry Day and list possible areas of improvement.

	<h1 class="surveyTitle">
	Thank you for attending Industry Day, and best of luck!
	- The Society of Women of Engineers
	</h1>

</div>