<html>

<head>

<style>

.svg-container{
    display:inline-block;
    position:relative;
    width:100%; /* assumes you want the SVG image to be full width of parent container */
    padding-bottom:90%; /* another place had 100%; */ /*represents a ratio between the SVG illustration’s height and width - i.e. divide viewboth height by viewbox width*/
    vertical-align:middle;
    overflow:hidden;
}

/* position the SVG inside the container, so that it can scale gracefully on the page without disturbing other content. the same code will work on an object tage used to embed the vector drawing 
ALL content inside the SVG will scale, including text
*/
.svg-content{
    display:inline-block;
    position:absolute;
    top:3rem; /* other place had top: 0; */
    left:0;
}


/*
from
Make SVG Responsive
http://demosthenes.info/blog/744/Make-SVG-Responsive

- Use <img> tag - sometimes not enough
- Use inline SVG embedded in the body of an HTML document
    --- but can add space above and below vector image
    - move SVG illustration to top of its display container
    - absolutely-positioned-element-inside-a-relative-container trick


*/

/* 
from http://www.petercollingridge.co.uk/svg-tutorial/adding-svg-webpage
Adding an SVG to a webpage

4 main ways
- Inline
    - easiest method probably
    - paste your SVG element directly into your HTML directly
    - would generally avoid because its cleaner ot have svg in a separate file
    - possible interactivity issues - since the SVG is not separate, mouse events are measured relative to the surrounding HTML and not the SVG
- iFrame
    - frowned upon, not allowed in HTML 4
    - creates weird border around image

- object
    - method peter collingridge tends to use
    - <object data="svgfile.svg" type="image/svg+xml"></object>

- embed
    - pretty much same as object
    <embed src="svgfile.svg" type="image/svg+xml" />


*/
</style>

<!--
http://www.petercollingridge.co.uk/data-visualisation/using-javascript-control-svg
Using Javascript to control an SVG

Like HTML, SVGs are represented using the Document Object Model (DOM) and so can be manipulated with Javascript relatively easily.

Create your SVG
Give the element(s) you want to control an id so it/they can be easily selected.

<svg version="1.1"
     xmlns="http://www.w3.org/2000/svg"
     width="400" height="300">
  <style>
    circle {
      fill-opacity: 0.5;
      stroke-width: 4;
      fill: #3080d0;
      stroke: #3080d0;
    }
  </style>
  <circle id="my-circle" cx="100" cy="100" r="50" />
</svg>

Add SVG into your HTML document with the object tag and give the object tag an ID.
<object id="circle-svg" width="400" height="300" type="image/svg+xml" data="moving_circle.svg"></object>

You can then select the SVG element by its ID
var svg = document.getElementById("circle-svg");

select the SVG document:
var svgDoc = svg.contentDocument;


select elements within the SVG document:
var circle = svgDoc.getElementById("my-circle");

manipulate an element's attributes with setAttributeNS():
circle.setAttributeNS(null, "cx" 200);

-->




<!-- http://www.petercollingridge.co.uk/sites/files/peter/room_plan_isometric.svg -->
    <!--
    i have a file somewhere called isometric foor plan to referene...
    <figure class="svg-container">

<svg xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     version="1.1"
     viewbox="0 0 300 180"
     width="300"
     height="180"
     preserveAspectRation="xMinYMin meet"
     class="svg-content">

    
  <g transform="translate(150, 90)">
    <g transform="matrix(0.707 0.409 -0.707 0.409 0 -0.816)">
      <g transform="translate(-150, -80)">
        <rect id="louis" class="room" x="20" y="1" width="80" height="140" onclick="toggleActiveRoom(this.id)"/>
                    <rect id="t1" class="booth row1" x="25" y="10" width="6.5" height="15" onclick="toggleActive(this.id)" />
                    <rect id="t2" class="booth row1" x="25" y="30" width="6.5" height="15" onclick="toggleActive(this.id)" />
                    <rect id="t3" class="booth row1" x="25" y="50" width="6.5" height="15" onclick="toggleActive(this.id)" />
                    <rect id="t4" class="booth row1" x="25" y="70" width="6.5" height="15" onclick="toggleActive(this.id)" />
                    <rect id="t5" class="booth row1" x="25" y="90" width="6.5" height="15" onclick="toggleActive(this.id)" />
                    <rect id="t6" class="booth row1" x="25" y="110" width="6.5" height="15" onclick="toggleActive(this.id)" />
        <rect id="lake" class="room" x="160" y="1" width="100" height="60" onclick="toggleActiveRoom(this.id)" />
        <path id="wildcat" class="room" d="M20 159 l0 -20 l240 0 l0 -138 l20 0 l0 158z" onclick="toggleActiveRoom(this.id)"/>
        <path id="bigten" class="room" d="M100 139 l0 -138 l60 0 l0 60 l100 0 l0 78z" onclick="toggleActiveRoom(this.id)"/>
      </g>
    </g>
  </g>
    
    </svg>
</figure>
-->




<script>
// http://stackoverflow.com/questions/121817/replace-text-inside-a-div-element-with-prototype-js
// http://www.w3schools.com/jsref/event_onload.asp
/*
http://css-tricks.com/using-svg/
External stylesheets for <object> SVG
SVG has a way to declare an external stylesheet, which can be nice for authoring and caching and whatnot. This only works with <object> embedding of SVG files as far as I've tested. You'll need to put this in the SVG file above the opening <svg> tag.

<?xml-stylesheet type="text/css" href="svg.css" ?>
If you put that in your HTML, the page will barf and not even try to render. If you link up an SVG file that has that in it as an <img> or background-image, it won't barf, but it won't work (the SVG will still render though).
*/

function initialize()
{
    var labelshtml = "";
    //var tablehtml = '<label> <input type="checkbox" onclick="toggleActive(';
    //tablehtml += '"table_' + i + '/") />' + i + '</label>';

    for(var i = 1; i <= 84; i++ )
    {
        var tableID = "'table_" + i + "'";
        var floorID = "'floor1'";
        if (i >= 72) floorID = "'floor2'";

        var params = floorID + ', ' + tableID;

        var tablehtml = '<label> <input type="checkbox" ';
        tablehtml += 'onclick="toggleActive(' + params + ')" ';
        //tablehtml += ')" ';
        //tablehtml += 'table_' + i;
        //tablehtml+= '/')" />' + i + 
        tablehtml += ' /> ' + i + ' </label>';
        labelshtml += tablehtml;
    }

    document.getElementById('tablecheckboxes').innerHTML = labelshtml;
}


/// CHECK THIS OUT

// http://xn--dahlstrm-t4a.net/svg/html/get-embedded-svg-document-script.html

//function displayName(name) {
//  svgDoc.getElementById('country_name').firstChild.data = name;
//}

function toggleActiveRoom(roomid) {
    var roomclass = document.getElementById(roomid).getAttribute("class");
    if (roomclass != "selectedRoom")
        document.getElementById(roomid).setAttribute("class", "selectedRoom");
    else
        document.getElementById(roomid).setAttribute("class", "");
}

/*function toggleActive(tid) {
    var boothclass = document.getElementById(tid).getAttribute("class");
    if (boothclass != "selectedBooth")
        document.getElementById(tid).setAttribute("class", "selectedBooth");
    else
        document.getElementById(tid).setAttribute("class", "");
}*/



function toggleActive(svgID, tableID) {

    console.log('got into toggle active fx');
    // Select the SVG element by its ID:
    var svg = document.getElementById(svgID);

    if(svg != null) // undefined? 
    {
        console.log(svg);

        // Select the SVG document:
        var svgDoc = svg.contentDocument;


        if(svgDoc != 'undefined')
        {
            console.log(svgDoc);

            // Select elements within the SVG document:
            var svgElem = svgDoc.getElementById(tableID);


            if(svgElem != null) //undefined?
            {
                console.log(svgElem);
                var boothclass = svgElem.getAttribute("class");
                if (boothclass != "selectedBooth")
                    svgElem.setAttribute("class", "selectedBooth");
                else
                    svgElem.setAttribute("class", "selectedBooth");

            }
        }
        
        

    }
    
    //if (typeof svgEmbed.getSVGDocument != 'undefined') {
        // used object not embed but idk if i shoudl check for undefined anyway to be safe
    
   


     // Manipulate an element's attributes with setAttributeNS():
     //svgElem.setAttributeNS(null, "cx" 200);

    /*var element = svgDocument.getElementById(elementId);
    if (element != null) {
      element.setAttribute('visibility', visibility);
     
    }
  }*/
}


// Create your SVG
// Give the element(s) you want to control an id so it/they can be easily selected.





</script>
</head>
<body onload="initialize()">
    <!--button onclick="toggleActiveRoom('northwestern')"> Louis </button>
    <button onclick="toggleActiveRoom('louis')"> Louis </button>
    <button onclick="toggleActiveRoom('lake')"> Lake </button>
    <button onclick="toggleActiveRoom('wildcat')"> Wildcat </button>
    <button onclick="toggleActiveRoom('bigten')"> Big 10 </button-->

    <div id="tablecheckboxes"></div>

    <br>
    <!--label> <input type="checkbox" onclick="toggleActive('table_1')" /> 1 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_2')" /> 2 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_3')" /> 3 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_4')" /> 4 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_5')" /> 5 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_6')" /> 6 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_7')" /> 7 </label>
    <br>
    <label> <input type="checkbox" onclick="toggleActive('table_8')" /> 8 </label>
    <br>
    <label> <input type="checkbox" onclick="toggleActive('table_9')" /> 9 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_10')"/> 10 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_11')" /> 11 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_12')" /> 12 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_13')" /> 13 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_14')" /> 14 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_15')" /> 15 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_16')" /> 16 </label>
    <br>
    <label> <input type="checkbox" onclick="toggleActive('table_17')" /> 17 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_18')" /> 18 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_19')" /> 19 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_20')" /> 20 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_21')" /> 21 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_22')" /> 22 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_23')" /> 23 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_24')" /> 24 </label>
    <br>
    <label> <input type="checkbox" onclick="toggleActive('table_25')" /> 25 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_26')" /> 26 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_27')" /> 27 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_28')" /> 28 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_29')" /> 29 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_30')" /> 30 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_31')" /> 31 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_32')" /> 32 </label>
    <br>
    <label> <input type="checkbox" onclick="toggleActive('table_33')" /> 33 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_34')" /> 34 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_35')" /> 35 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_36')" /> 36 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_37')" /> 37 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_38')" /> 38 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_39')" /> 39 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_40')" /> 40 </label>
    <br>
    <label> <input type="checkbox" onclick="toggleActive('table_41')" /> 41 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_42')" /> 42 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_43')" /> 43 </label>
    <br>
    <label> <input type="checkbox" onclick="toggleActive('table_44')" /> 44 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_45')" /> 45 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_46')" /> 46 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_47')" /> 47 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_48')" /> 48 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_49')" /> 49 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_50')" /> 50 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_51')" /> 51 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_52')" /> 52 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_53')" /> 53 </label>
    
    <br> LAKE
    <label> <input type="checkbox" onclick="toggleActive('table_54')" /> 54 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_55')" /> 55 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_56')" /> 56 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_57')" /> 57 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_58')" /> 58 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_59')" /> 59 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_60')" /> 60 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_61')" /> 61 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_62')" /> 62 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_63')" /> 63 </label>
    <br>
    NORTHWESTERN
    <label> <input type="checkbox" onclick="toggleActive('table_64')" /> 64 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_65')" /> 65 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_66')" /> 66 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_67')" /> 67 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_68')" /> 68 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_69')" /> 69 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_70')" /> 70 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_71')" /> 71 </label>
    <br>
    WILDCAT
    <label> <input type="checkbox" onclick="toggleActive('table_72')" /> 72 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_73')" /> 73 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_74')" /> 74 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_75')" /> 75 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_76')" /> 76 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_77')" /> 77 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_78')" /> 78 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_79')" /> 79 </label>
    <br>
    BIG TEN
    <label> <input type="checkbox" onclick="toggleActive('table_80')" /> 80 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_81')" /> 81 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_82')" /> 82 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_83')" /> 83 </label>
    <label> <input type="checkbox" onclick="toggleActive('table_84')" /> 84 </label-->





<figure class="svg-container"> <!-- viewBox="0 0 768 576" -->
  <!--img svg="./img/map/norris-floor-1.svg" class="svg-content" /-->
  <object id="floor1" type="image/svg+xml" data="../img/map/norris-floor-1.svg" width="100%" height="100%" class="svg-content">


  </object>
  
</figure>








<figure class="svg-container">
<object type="image/svg+xml" data="../img/map/norris-floor-2.svg" width="100%" height="100%" class="svg-content"></object>
</figure>

      
<script>



// http://home.arcor.de/martin.honnen/svg/test2006032201.html
// view-source:http://home.arcor.de/martin.honnen/svg/test2006032201.html

/*
<input type="button" value="hide head"
       onclick="setVisibility('svg1', 'head', 'hidden');">
<input type="button" value="show head"
       onclick="setVisibility('svg1', 'head', 'inherit');">
<input type="button" value="hide neck"
       onclick="setVisibility('svg1', 'neck', 'hidden');">
<input type="button" value="show neck"
       onclick="setVisibility('svg1', 'neck', 'inherit');">
       */

function setVisibility (svgName, elementId, visibility) {
  var svgEmbed = document.embeds[svgName];
  if (typeof svgEmbed.getSVGDocument != 'undefined') {
    var svgDocument = svgEmbed.getSVGDocument();
    var element = svgDocument.getElementById(elementId);
    if (element != null) {
      element.setAttribute('visibility', visibility);
    }
  }
}


function toggleActiveRoom(roomid) {
    var roomclass = document.getElementById(roomid).getAttribute("class");
    if (roomclass != "selectedRoom")
        document.getElementById(roomid).setAttribute("class", "selectedRoom");
    else
        document.getElementById(roomid).setAttribute("class", "");
}

/*
function toggleActive(tid) {
    var boothclass = document.getElementById(tid).getAttribute("class");
    if (boothclass != "selectedBooth")
        document.getElementById(tid).setAttribute("class", "selectedBooth");
    else
        document.getElementById(tid).setAttribute("class", "");
}
*/









</script>

<script>
// http://stackoverflow.com/questions/2753732/how-to-access-svg-elements-with-javascript?rq=1
        //var floor1 = document.getElementById("floor1");

        //it's important to add an load event listener to the object, as it will load the svg doc asynchronously
       // floor1.addEventListener("load",function(){
   /*         var svgDoc = floor1.contentDocument; //get the inner DOM of alpha.svg
            var delta = svgDoc.getElementById("table_80"); //get the inner element by id
            if (delta != null) delta.addEventListener("mousedown",function(){alert('hello world!')},false);    //add behaviour
       // },false);*/
    </script>




</body>
</html>