<style>
.hometile {
	min-width: 120px;
	min-height: 120px;
	text-align: center;
}
.swe-circle {
    font-size: 85px;
    font-weight: lighter;
    color: #eee;
}
.swe-circle-outline {
    font-size: 80px;
    color: pink;
}
.swe-gear {
    color: rgb(232, 214, 102);
    font-size: 80px;
}
.swe-banner {
    color: #5cb85c;
    color: rgb(0, 162, 97); /*169);*/
    font-size: 85px;
    font-weight: lighter;
}

</style>
<div class="row">

        <a href="#/companies">
        <div class="col-xs-6 col-sm-3 hometile">
        <i class="fa fa-list fa-4x"></i>
        <br>
        	Company List
        	
        </div>
        </a>



        <a href="#/map/companies">
        <div class="col-xs-6 col-sm-3 hometile">
        	<i class="fa fa-compass fa-4x"></i>
        	<br>
        	Floorplan layout/map
        </div>
         </a>

         <!-- not sure about slash -->
        <a href="#/favorites">
        <div class="col-xs-6 col-sm-3 hometile">
             <i class="fa fa-star fa-4x"></i>
             <br>
             Favorites
        </div>
         </a>

       


         <a href="#/settings">
        <div class="col-xs-6 col-sm-3 hometile">
            <i class="fa fa-cogs fa-4x"></i>
        	<br>
        	Search Settings
        </div>
         </a>

          <!-- Add the extra clearfix for only the required viewport -->
        <!-- if there is an odd number of items floating next to each other
        this will force the item before it onto its own row... i think -->
        <div class="clearfix visible-xs"></div>



        <div class="col-xs-6 col-sm-3 hometile">
        <!--i class="fa fa-sun-o fa-4x"></i-->

<!--i class="fa fa-ban fa-stack-3x text-success fa-lg fa-fw"></i-->

        <span class="fa-stack fa-3x">
        <i class="fa fa-minus-circle fa-stack-3x swe-circle"></i>
        <i class="fa fa-cog fa-stack-2x swe-gear"></i> 
        <i class="fa fa-minus fa-stack-1x swe-banner"></i>
        <!--i class="fa fa-circle-o fa-stack-4x swe-circle-outline"></i-->
        </span>
  
  <!--i class="fa fa-circle-o fa-stack-3x text-primary fa-2x swe-circle"></i-->
  
  
 

        <!--
          NU SWE iDay '14 <br> Notes?this will be the home landing page or something i think
    probs icons here and credits and idk what else
    fa-female
    fai-external-link
    fa-minus
    fa-minus-circle
    fa-cog
    fa-sun-o
    fa-th-large 
    -->
        </div>

        <a href="#/credits">
        <div class="col-xs-6 col-sm-3 hometile">
        	<i class="fa fa-thumbs-up fa-4x"></i> 
        	<br>
        	Acknowledgements 
        </div>

        <a href="#/feedback">
        <div class="col-xs-6 col-sm-3 hometile">
        <i class="fa fa-comments fa-4x"></i>
        <br>
        	Feedback Survey
        </div>

	
</div>