<style>
.hometile {
	min-width: 120px;
	min-height: 120px;
	text-align: center;
}

</style>
<div class="row">
        <div class="col-xs-6 col-sm-3 hometile">
          this will be the home landing page or something i think
	probs icons here and credits and idk what else
        </div>

<!-- Add the extra clearfix for only the required viewport -->
        <div class="clearfix visible-xs"></div>

        <a href="#/companies">
        <div class="col-xs-6 col-sm-3 hometile">
        <i class="fa fa-list fa-4x"></i>
        <br>
        	Company List
        	
        </div>
        </a>

        <a href="#/map/companies">
        <div class="col-xs-6 col-sm-3 hometile">
        	
        	<i class="fa fa-compass fa-4x"></i>
        	<br>
        	Floorplan layout/map
        </div>
         </a>

         <a href="#/settings">
        <div class="col-xs-6 col-sm-3 hometile">
        <i class="fa fa-cogs fa-4x"></i>
        	<br>
        	Search Settings
        	
        </div>
         </a>

         <!-- not sure about slash -->
        <a href="#/favorites">
        <div class="col-xs-6 col-sm-3 hometile">
        	 <i class="fa fa-star fa-4x"></i>
        	 <br>
        	 Favorites
        </div>
         </a>

        <a href="#/credits">
        <div class="col-xs-6 col-sm-3 hometile">
        	<i class="fa fa-thumbs-up fa-4x"></i> 
        	<br>
        	Acknowledgements 
        </div>

        <a href="#/feedback">
        <div class="col-xs-6 col-sm-3 hometile">
        <i class="fa fa-comments fa-4x"></i>
        <br>
        	Feedback Survey
        </div>

	
</div>